Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@DeathLightt 
DeathLightt
/
Patika-CSS-Odev-1
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
Patika-CSS-Odev-1/.gitignore
@DeathLightt
DeathLightt ignore ve readme eklendi.
Latest commit 6a09061 4 days ago
 History
 1 contributor
31 lines (26 sloc)  411 Bytes

# Thumbnails
._*

### vscode ###
.vscode
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
# *.code-workspace

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
You have no unread notifications